* text=auto !eol
/IException.php -text
/Instrument.php -text
/InstrumentationService.php -text
/Measurement.php -text
Measurement/EventMeasurement.php -text
Measurement/IMeasurement.php -text
Meter/AbstractLimitedMeter.php -text
Meter/AbstractMeter.php -text
Meter/IMeterStorageHandler.php -text
Meter/LoggingMeter.php -text
Meter/MeterDataPacket.php -text
Meter/MeterManager.php -text
Meter/RawDataMeter.php -text
Meter/VoidStorageHandler.php -text
Processor/AbstractProcessor.php -text
Processor/AuditingProcessor.php -text
Processor/CallableQueueProcessor.php -text
Processor/IProcessor.php -text
Processor/LoggingProcessor.php -text
Processor/ProcessorExceptionType.php -text
Processor/ProcessorRuntimeException.php -text
Processor/Remoting/RemotedProcessor.php -text
Processor/StubProcessor.php -text
Processor/UltimateVoidProcessor.php -text
/Sensor.php -text
Sensor/BufferedSensor.php -text
Sensor/ISensorDataProcessor.php -text
Sensor/SensorDataPacket.php -text
/composer.json -text
/composer.lock -text
/sonar-project.properties -text
